In [1]:
a = "watermelon"
a[-5:]

'melon'

In [2]:
fruit = [["mango", "grape"], ["apple", "banana" , ["melon" , "watermelon"]]]

fruit[1][2][1][:5]

'water'

In [3]:
fruit[1][0] = "pineapple"
fruit

[['mango', 'grape'], ['pineapple', 'banana', ['melon', 'watermelon']]]

In [4]:
song = """
너도 날 좋아할 줄은 몰랐어
어쩌면 좋아 너무나 좋아
꿈만 같아서 나
내 자신을 자꾸 꼬집어 봐 너무나 좋아
니가 날 혹시 안 좋아할까봐
혼자 얼마나 애 태운지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
어쩜 내 가슴이 이렇게 뛰니
가슴이 정말 터질 것 같아
니가 날 볼 때면
전기에 감전된 사람처럼 전기가 올라
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니 어머나
다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
Slave to the moon, slave to the moon (I know you got)
Slave to the moon, slave to the moon (I know you)
Tell me tell me tell me you
Want me want me want me, too
Tell me tell me tell me you
Love me too, love me too
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
Tell tell tell tell tell tell me
Tell me (tell me)"""

# song = "ㄴ"
word = "tell me"

song = song.lower()
# if (word or word.title() or word.upper()) in song:
if word in song:
    print("있음. 제목을 가사에서 지웠습니다.")
    song_change = song.replace("\n", " ").replace(word, "(   )")
else:
    print("없음")

있음. 제목을 가사에서 지웠습니다.

In [5]:
song_change

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어 봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애 태운지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 (   ) (   ) tell tell tell tell tell (   ) 나를 사랑한다고 날 기다려 왔다고 (   ) (   ) tell tell tell tell tell (   ) 내가 필요하다 말해, 말해줘요 (   ) (   ) tell tell tell tell tell (   ) 자꾸만 듣고 싶어 계속 내게 말해줘 (   ) (   ) tell tell tell tell tell (   ) 꿈이 아니라고 말해, 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한 번 말해봐 (   ) (   ) tell tell tell tell tell (   ) 나를 사랑한다고 날 기다려 왔다고 (   ) (   ) tell tell tell tell tell (   ) 내가 필요하다 말해, 말해줘요 (   ) (   ) tell tell tell tell tell (   ) 자꾸만 듣고 싶어 계속 내게 말해줘 (   ) (   ) tell tell tell tell tell (   ) 꿈이 아니라고 말해, 말해줘요 slave to the moon, slave to the moon (i know you got) slave to the moon, slave to the moon (i know you) (   ) (   ) (   ) you want me want me want me, too (   ) (   ) (   ) you love me too, love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 (   ) (   ) tell tell tell tell tell (   ) 나를 사랑한다고 날 기다려 왔다고 (   ) (   ) tell tell tell tell tell (   ) 내가 필요하다 말해, 말해줘요 (   ) (   ) tell tell tell tell tell (   ) 자꾸만 듣고 싶어 계속 내게 말해줘 (   ) (   ) tell tell tell tell tell (   ) 꿈이 아니라고 말해, 말해줘요 (   ) (   ) tell tell tell tell tell (   ) tell tell tell tell tell (   ) (   ) ((   ))'

In [6]:
ab = "abdkfskjsdf"
ab = ab.replace("a", "      ")

In [7]:
print(ab.title())

      Bdkfskjsdf

In [8]:
a = [1, 2, 3, 4, 5, 6]
a.insert(1, "3333")
a

[1, '3333', 2, 3, 4, 5, 6]

In [9]:
num = 0
while True:
    num += 1
    if  (num % 43 == 0) and (num > 1000):
        print(num)
        break

1032

In [10]:
num = 0

while (num * 43 < 1000):
    num += 1
print(num*43)

1032

In [11]:
num = 1

while (num % 43 != 0) or (num < 1000):
    num += 1
    
    if (num % 43 == 0) and (num > 1000):
        print(num)

1032

# < 10000보다 큰 43과 67의 공배수 구하기>

# 방법 1 : while True / if 조건

In [12]:
# num = 0
num = 10000
while True:
    num += 1

#     if (num % 43 == 0) and (num % 67 == 0) and (num > 10000):
    if (num % 43 == 0) and (num % 67 == 0):
        print(num)
        break

11524

# 방법 2 : while 조건, 기본값을 10000으로 설정

In [13]:
n = 10000

while (n % 43 != 0) or (n % 67 != 0):
    n += 1
print(n)

11524

# < 최대 공약수 구하기 >

In [14]:
# a, b = map(int, input().split(","))

def GCD():
    a, b = map(int, input().split(","))
    big = small=0 
    r_list = []
    
    if a > b :
        big = a
        small = b
        remain = big % small
    else:
        big = b
        small = a
        remain = big % small
    
    while remain != 0:
        r_list.append(remain)
        rest = small % remain
        remain = rest
        
        result = r_list[::-1][0]
    print(result)

GCD()

30 2

ValueError: invalid literal for int() with base 10: '30 2'

# <구구단>

In [ ]:
number = int(input("몇 단? "))

for x in range(1,10):
    result = x * number
    print(f"{number} x {x} = {result}")

In [ ]:
n = 0
a = [1,2,3,4,5,6,77,7,7]
b = [2,4,3,6, 5,3,7,7,7,7,7,7]
same = []

# if len(a) > len(b):
#     length = len(b)
# else:
#     length = len(a)
    
for x in range(len(a)):
    if a[x] == b[x]:
        same.append(a[x])
        print("같은 수:", a[x])
    else:
         pass

        
print(same)

# <구구단2>

In [ ]:
for first in range(1,10):
    print(f"\"{first}단\" 입니다~~!!!")
    for second in range(1,10):
        print(f"{first} X {second} = {first*second}")

In [ ]:
n = 0
a = [1,2,3,4,5,6,77,7,7]
b = [2,4,3,6, 5,3,7,7,7,7,7,7]
same = []

# if len(a) > len(b):
#     length = len(b)
# else:
#     length = len(a)
    
for position, content in enumerate(a):
    if content == b[position]:
        same.append(content)
        print("같은 수:", content)
    else:
         pass
        
print(same)

# https://euler.synap.co.kr/problem=6
# 제곱의 합과 합의 제곱

In [15]:
sum_after = 0
sum_first = 0

for x in range(1,101):
    sum_after += x ** 2
    sum_first += x
    
sum_first = sum_first ** 2 

result = sum_first - sum_after
    
print("차이:",result)

차이: 25164150

# 물가가 10% 올랐
- gg 딕셔너리의 각 과일의 가격을 10% 올려줘

In [16]:
gg = {"사과": 800, "바나나" : 1000, "포도": 8000}

for x in gg:
    gg[x] = int(gg[x] * 1.1)
        
gg

{'사과': 880, '바나나': 1100, '포도': 8800}

In [54]:
ggg = {"서울점" : {"사과": 800, "바나나" : 1000, "포도": 800, "딸기" : 300},
       "부산점" : {"사과": 700, "바나나" : 900, "포도": 900},
       "대구점" : {"사과": 750, "바나나" : 800, "포도": 1000}  }

In [55]:
n = 0
for x in ggg:
    n += ggg[x]["사과"]
    aver = round(n /(len(ggg[x])), 1)

print(aver)

750.0

In [67]:
ggg["서울점"]["사과"]

800

In [91]:
p = [len(ggg[x]) for x in ggg]
price_sum = 0
a_l = []

for x in ggg:
    if len(ggg[x]) == max(p):
#         print(ggg[x])
        fruit_name = list(ggg[x].keys())
        print(fruit_name)
try:
    for x in ggg:
        print(x)
        for name in fruit_name:
            print(name)
            print(ggg[x][name])
            price_sum += ggg[x][name]
            average = round(price_sum /(len(ggg[x])), 1)
            a_l += [average]
# except Exception
# print(a_l)

SyntaxError: unexpected EOF while parsing (2808807024.py, line 20)