In [1]:
import pandas as pd
import numpy as np

    1. [목적]
    
    네이버 영화리뷰 데이터셋을 이용해서 긍정/부정 분류 모델
    TF-IDF 적용

    2. [데이터 수집]

    네이버 영화 리뷰 데이터 사용

In [3]:
df = pd.read_csv('10_text_mining_ratings.txt',delimiter= '\t')
df

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[200000 rows x 3 columns]

    [Data Preprocessing]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        200000 non-null  int64
 1   document  199992 non-null  object
 2   label     200000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [6]:
# NaN Drop
df.dropna(inplace = True) 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199992 entries, 0 to 199999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        199992 non-null  int64
 1   document  199992 non-null  object
 2   label     199992 non-null  int64
dtypes: int64(2), object(1)
memory usage: 6.1+ MB

In [7]:
# Train, Test Data 
X = df['document']
y = df['label']

In [10]:
print(len(X))
print(len(y))

199992
199992

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, 
                                                    random_state = 0)

In [13]:
X_train.shape

(149994,)

In [14]:
y_train.shape

(149994,)

In [16]:
X_test.shape

(49998,)

In [17]:
y_test.shape

(49998,)

In [20]:
from konlpy.tag import Okt
okt = Okt()

In [21]:
# 명사 토큰화 함수
def Tokenizer(text):
    return okt.nouns(text)

In [2]:
def Tokenizer1(text):
    df = pd.DataFrame(okt.pos(text), columns=['morph', 'tag'])
    df.set_index('tag', inplace = True)
    
    # 동사, 명사, 형용사일 때만 그 값을 반환한다.
    if('Verb' in df.index) | ('Adjective' in df.index) | ('Noun' in df.index):
        labels = ['Verb', 'Adjective', 'Noun']
        return df.loc[df.index.interection(labels)]['morph'].values
    else:
        return[]

In [ ]:
Tokenizer1(data)

In [ ]:
tfidf = TfidVectorizer(tokenizer = Tokenizer1)
tfidf.fit(x_train[:3])
tfidf.vocabulary_ #단어사전

In [3]:
x_train = x_train[:5000]
x_test = x_test[:5000]
y_train = y_train[:5000]
y_test = y_test[:5000]

NameError: name 'x_train' is not defined

In [ ]:
tfidf1 = TfidfVectorizer(tokenizer = Tokenizer1)
tfidf1.fit(x_train)
tfidf1.vocabulary_ #단어사전