행과 열로 표현

Series : 인덱스와 value로 구성된 Series

In [2]:
#1. 라이브러이 불러오기
import pandas as pd

In [3]:
#2. 시리즈 생성하기
population = pd.Series([9668465, 3391946, 2932828, 1450062])
population

0    9668465
1    3391946
2    2932828
3    1450062
dtype: int64

# 3. 시리즈 인덱스 지정하기

In [4]:

population = pd.Series([9668465, 3391946, 2932828, 1450062],
                       index = ["서울", "부산", "인천", "광주"])
population

서울    9668465
부산    3391946
인천    2932828
광주    1450062
dtype: int64

# 4.  Series값 확인
# 5.  Series인덱스 확인
# 6.  Series타입 확인

In [5]:

print(population.values)

print(population.index)

print(population.dtype)

[9668465 3391946 2932828 1450062]
Index(['서울', '부산', '인천', '광주'], dtype='object')
int64

# 7. Series에 이름 지정 / 인덱스 명 지정

In [6]:

population.name = '인구'   #데이터프레임의 이름 설정
population.index.name = "도시"  #인덱스의 이름 바꾸기
population

# * series.index = ["name1", "name2", "name1" ···]

도시
서울    9668465
부산    3391946
인천    2932828
광주    1450062
Name: 인구, dtype: int64

# 8. 연산

In [7]:

population_div = population/1000000
population_div

도시
서울    9.668465
부산    3.391946
인천    2.932828
광주    1.450062
Name: 인구, dtype: float64

# 9. 인덱싱 - '번호'와 '이름'으로 지정해서 출력 가능

In [8]:

print(population[1],population["부산"])
print(population[3],population["광주"])
len(population)

3391946 3391946
1450062 1450062

4

# 10. 인덱싱 - 원하는 행을 출력하고 싶을 땐 리스트안에 원하는 번호나 문자를 넣어서 인덱싱

In [9]:

print(population[[0, 3, 1]], "\n")
print(population[["서울", "광주", "부산"]])

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

# 11. 조건문, Boolean 인덱싱으로 원하는 데이터 가져오기

In [10]:

print(population >= 2500000, "\n")
print("250만 이상",population[population >= 2500000], "\n")
print("300만 이상",population[population >= 3000000], "\n")
print("250이상 500이하", population[population >= 2500000][population <= 5000000 ], "\n")
print("250이상 500이하", population[(population >= 2500000) & (population <= 5000000)])

도시
서울     True
부산     True
인천     True
광주    False
Name: 인구, dtype: bool

250만 이상 도시
서울    9668465
부산    3391946
인천    2932828
Name: 인구, dtype: int64

300만 이상 도시
서울    9668465
부산    3391946
Name: 인구, dtype: int64

250이상 500이하 도시
부산    3391946
인천    2932828
Name: 인구, dtype: int64

250이상 500이하 도시
부산    3391946
인천    2932828
Name: 인구, dtype: int64

# 12. 슬라이싱(시리즈) : 숫자, 문자 가능

In [11]:

print(population[1:3], "\n")
# population
print(population["부산" : "인천"], "\n")

도시
부산    3391946
인천    2932828
Name: 인구, dtype: int64

도시
부산    3391946
인천    2932828
Name: 인구, dtype: int64

# 13. Dictionary객체로 Series생성하기
- key는 인덱스로, value는 데이터로 들어감

In [12]:

data = {"피카츄" : 9631, "꼬부기" : 3393,
        "파이리" : 1490, "이상해씨" : 2632}
pokemon = pd.Series(data)
data2= {"피카츄" : 9904, "꼬부기" : 3448,
        "이브이" : 2466, "뮤" : 2890}
pokemon_up = pd.Series(data2)
print(pokemon, "\n")
print(pokemon_up)

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

피카츄    9904
꼬부기    3448
이브이    2466
뮤      2890
dtype: int64

- #numpy는 연산자체가 안되는데, pandas는 가능함. 
- #딕셔너리에서는 연산이 어렵기때문에 Pandas로 변형시켜서 하는 경우가 많음.

In [13]:
#레벨업해서 올라간 공격력을 계산하시오
attack = pokemon_up - pokemon
print(attack, "\n")

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

# 14. 데이터가 있는 값만 출력하기
    - attack[attack.notnull()]

In [14]:
print(attack.notnull(), "\n") #notnull은 boolean으로 변형함
print(attack[attack.notnull()], "\n")

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

꼬부기     55.0
피카츄    273.0
dtype: float64

In [15]:
#14. 레벨업해서 올라간 공격력의 증가율(%)을 계산
rp = ((pokemon_up - pokemon) / pokemon_up)*100 
print(rp, "\n") 
print(rp[rp.notnull()], "\n")

꼬부기     1.595128
뮤            NaN
이브이          NaN
이상해씨         NaN
파이리          NaN
피카츄     2.756462
dtype: float64

꼬부기    1.595128
피카츄    2.756462
dtype: float64

In [21]:
#15. 데이터 갱신, 추가, 삭제하기
attack_notnull = attack[attack.notnull()]
attack_notnull["파이리"] = 1616
attack_notnull["리자몽"] = 8888
attack_notnull
# attack_del = attack[attack.notnull()]
# attack_del

꼬부기      55.0
피카츄     273.0
파이리    1616.0
리자몽    8888.0
dtype: float64